html, body {
    max-width: 100%;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color:white;
    font-family: "Helvetica Neue"
}

.cover-img {
    width: 100%;    
    height: auto;
    margin-top: 5%;
}
.custom-title {
    margin-top: 3%;
}
.nav-media {
    height: 5vh;
    
}
.about-me-header{
    margin-top: 5%;
   margin-left: 20%;
}
.about-me-container {
    transform: translateX(25%);
}
.graphic-sample:hover {
    opacity: 0.5;
}
.graphic-sample {
    margin-top: 8px;
    vertical-align: middle;
    width: 33%;
  }
  .graphic-detail-img {
    margin-top: 8px;
    vertical-align: middle;
    width: 50%;
    /* margin-right: 7% */
  }
.nav-tabs {
    border-color: transparent;
}
.nav-tabs .nav-link {
    border: 0px;
    border-color:transparent;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent; 
    border-color:transparent;
}
.nav-item-container {   
    display: flex; 
    margin-top: 1%;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    opacity: 0.7;
    border-top: 0.2rem rgba(228, 233, 237, 0.3)solid;
    border-bottom: 0.2rem rgba(228, 233, 237, 0.3) solid;
}

.navbar-toggle {
    margin-top: 2%;
    padding: 9px 10px !important;
}

.nav-link {
    display: block;
    padding: 1rem 1rem;
    margin-right: 25vh;
}

.about-me-img {
    border-radius: 100%;
    width: 100%;
    margin-top: 10%;
}

.about-me-container {
    margin-top: 5%;
    margin-bottom: 15% !important;
    margin:0;
    
}
.about-me-paragraph {
    margin-top: 10%;
   margin: 10% !important;
   padding-top: 10%;
   margin-bottom: 30% !important;
}
.hamburger-bar { 
     position: fixed;
    z-index: 9999;
    background-color: white;
    height: 100px
}
.hamburger-menu-lines {
    width: 35px;
    background-color: black;
    height: 5px;
    margin: 5px 0px
}
.hamburger-menu {
   
    margin: 0;
    width: 50px;
    height: 50px;
    padding-top: 30px;
}

.hamburger-list-container {
    background-color:white;
    width: 40%;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: 9999;
    border-top: solid #E0C7DD 3px;
    border-right: solid #E0C7DD 3px;
    border-bottom: solid #E0C7DD 3px;
}
.hamburger-list-item {
   padding: 15%;
    font-size: 1.0rem;
}

.hamburger-list-item:hover {
    background-color: #E0C7DD;
    color: white;
}
.nav {
    margin-top: 1px;
    transform: translateX(20%);
}

a {
    color: black;
}
a:hover {
    color: black;
}
.logo {
        max-height: 15%;
        position: absolute;
        left: 50%;
        margin-left: -50px !important;  /* 50% of your logo width */
        display: block;
        margin-top: 1%
}
.navbar {
    position: relative;
}
.logo-container {
    min-height: 20vh;
    background-color: white;
    border-top: 0.5rem #E0C7DD solid;
   
    border-bottom: 0.5rem #E0C7DD solid;
    width: 100%;
}
.title {
    margin-top: 5%;
}
.mainfooter {
    background-color: white;
    position: fixed
}

#contact {
    margin-top: 5%;
}
.paragraph {
    margin: 5%
}

/* ----- Video Player CSS ----------- */
#playlist img{
    cursor:pointer;
    padding:8px;
}
#playlist p {
    text-align: center;
}
#playlist li:hover{
    color:blue;                        
}
#videoarea {
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 100%    !important;
    height: auto   !important;
    max-height: 500px;
    min-height: 300px;
    border-color: transparent;

    /* border:1px solid silver; */
}

.img-gallery {
    margin-top: 1%;
    height: 100%;
    max-height: 500px;
    overflow: hidden;
    overflow: scroll;
}

.center {
    top: 15vh;
  }
.social-media {
    display: flex;
    margin-right: 1%;
    margin-top: 1%;
}
.grey-out {
    background-color: rgba(189, 195, 199, 0.7);
    position: fixed;    
    width: 100%;
    height: 100%;
    z-index: 8888;
    display:none;
}
.img-modal {
    position: fixed; 
    left: 0;   
    transform: translateX(12%); 
    display: none;
    height: 90vh;
    background-color: white;
    border: 5px solid	rgba(224,199,221);
    border-radius: 5%;  
    z-index: 9999;
    width: 80%;
    top: 3vh;
} #close-button{
    border-color: transparent;
   background-color: transparent;
   padding-right: 2px;
   font-size: 0.5rem;
}
#close-modal {
    border-radius: 5%;
}
/* Media Queries ----- For computer Screen Sizes  */
@media (max-width: 1392px) {
    .graphic-sample {
        width: 32.9%;
    }
}
@media (max-width: 1087px) {
    .graphic-sample {
        width: 32.8%;
    }
}
@media (max-width: 892px) {
    .graphic-sample {
        width: 32.7%;
    } 
}
  @media (max-width: 774px) {
    .about-me-header {
        margin-top: 10%;

    }   
    .hamburger-menu {
        margin-left: 7%;
    }
    .logo {
        margin-top: 2.5%;
    }
    .logo-container {
        margin-top: 70px;
    }
    .hamburger-menu-lines {
        width: 35px;
        background-color: black;
        height: 5px;
        margin: 5px 0px
    }
    .hamburger-menu {
        margin: 0;
        width: 50px;
        height: 50px;
        padding-top: 15px;
    }
    .hamburger-bar 
    {
        height: 70px;
    }
    .img-modal {
        width: 90vw;  
        transform: translateX(5%);  
    }
  .video-container {
      border-color: transparent;
  }
}
@media (max-width:767px) {
    .about-me-container {
        margin-left: 2%;
        transform: translate(0) !important;
    }
    .about-me-header {
        margin-left: 0;
    }
    .about-me-img {
       width: 60%;
        margin-bottom: 5%;
    }
    .about-me-paragraph {
        margin-top: 0 !important;
    }
}
@media (min-width:768px) and
(max-width:834px) {
   .about-me-img-container {
    margin-top: 15% !important;}
}
/* Minimum Width Media Queries */
@media (max-width:623px) {
    .graphic-sample {
        width: 100%;
    }
    .graphic-detail-img {
        width:50%;
    }
}

/* Phone Screen Media Queries  */
@media only screen 
  and (max-device-width: 415px) {
      .col-md-6 .pull-right {
          margin-bottom: 50% !important;
      }
    .social-media {
        /* float: none !important; */
        /* transform: translateX(17%); */
        margin-right: 0;    
    }
  
  }
  @media only screen 
  and (max-device-width: 321px) {
    .social-media {
        /* float: none !important; */
        margin-left: 0;
        /* transform: translateX(7%); */
    }
 
    .logo {
        left: 57%;
    }
}
@media only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
   .social-media {
    transform: translateX(10%);
   }
}
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) {
      .social-media {
          /* float: none !important; */
          margin-right: 2%;
       
      }
      .logo {
        margin-left: -88px !important;

      }
    }
  